*,
html,
body {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    font-family: "Lato", sans-serif;
    line-height: 1.3em;
}

body {
    background-color: rgb(236, 236, 236);
}

a {
    color: rgb(78, 69, 69);
    text-decoration: none;
}

.nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    /* margin: 0 15px; */
}

.logo img {
    height: 60px;
    margin-left: 10px;
}

.search {
    flex-grow: 2;
}

.search input[type="text"] {
    width: 80%;
    height: 20px;
    padding: 5px;
}

button {
    font-size: 11.5px;
    padding: 8.5px;
    font-weight: bold;
    margin-left: -5px;
}

.logo,
.profile_icons {
    flex-grow: 1;
    text-align: right;
}

.logo {
    text-align: left;
}

.profile_icons i {
    margin-right: 20px;
}

.profile_icons i:nth-child(4) {
    margin-right: 0 !important;
    padding: 10px;
    color: green;
    font-size: 2em !important;
}

#container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
}

.video-body {
    width: 70%;
    text-align: left;
}

#video h3 {
    margin-top: 10px;
}

/* #video iframe {
    width: 100%;
    height: 400px;
} */

.video-sidebar {
    width: 30%;
    text-align: right;
}

.video-sidebar__title {
    display: flex;
    justify-content: space-between;
}

.description {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.section1 {
    display: flex;
    align-items: left;
}

.section2 {
    display: flex;
}

.section2 p {
    margin-right: 10px;
}

a {
    text-decoration: none;
}

#plus {
    border: none;
    cursor: pointer;
}

#subscribe {
    background-color: red;
    border-width: 0;
    color: white;
    margin-left: 440px;
    position: relative;
    bottom: 20px;
    width: 100px;
    font-weight: 90px;
    font-style: bold;
    cursor: pointer;
}

h3 {
    margin-top: 20px;
}

#filter {
    border: none;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 15px;
}

#span {
    margin-top: 10px;
}

.comment {
    display: flex;
}

.comment img {
    border-radius: 60px;
    padding: 30px;
}

.comment h5 {
    margin-top: 15px;
}

.comment a {
    margin-top: 14px;
    font-size: 13.7px;
    margin-left: 5px;
}

.comment p {
}
/* SIDE BAR  */

.video-sidebar__item {
    display: flex;
    margin: 10px 0;
}

.video-sidebar__item img {
    width: 150px;
    /* height: 90px; */
    display: inline;
    margin-right: 10px;
}

.video-sidebar__item .content h3 {
    font-size: 15px;
    text-align: left;
}

.video-sidebar__item .content p {
    font-size: 14px;
    text-align: left;
}
