* {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

.nav {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2px;
    background-color: #fff;
    margin: 0 15px;
}

.logo img {
    height: 60px;
    margin-left: 10px;
}

.search {
    flex-grow: 2;
}

.search input[type="text"] {
    width: 80%;
    height: 20px;
    padding: 5px;
}

button {
    font-size: 11.5px;
    padding: 8.5px;
    font-weight: bold;
    margin-left: -5px;
}

.logo,
.profile_icons {
    flex-grow: 1;
    text-align: right;
}

.logo {
    text-align: left;
}

.profile_icons i {
    margin-right: 20px;
}

.profile_icons i:nth-child(4) {
    margin-right: 0 !important;
    padding: 10px;
    color: green;
    font-size: 2em;
}

#container {
    width: 80%;
    margin: 0 auto;
}
